<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <title></title>
  <link rel="stylesheet" href="/build/vendor.css">
  <link rel="stylesheet" href="/build/application.css">
  <script src="require.js" defer async="true" data-main="build/root"></script>
</head>

<body ng-controller="RequireSimCtrl" id="require_sim" ng-class="" ng-cloak>

  <div id="sys-title-logo" style="">
    <div id="logo">
      <img src="assets/huaning-logo.png">
    </div>
    <div id="sys-title"><strong>产品展示</strong></div>
    <ng-md-icon id="search-icon" icon="search" size="25px" ng-click="search_pro()"></ng-md-icon>
  </div>
<!-- <hr/> -->
<!-- <md-divider style="color:gray"></md-divider> -->
<div layout="row" id="pro-part" ng-show="pro_part_flag">
  <div  id="first-class">
    <!-- 一级产品列表 -->
    <md-content style="height:100%;width:100%">
      <md-button style="width:89%" ng-click="rec()">所有产品</md-button>
      <md-button style="width:89%" ng-click="dis_second_class(firstClass.id)" ng-repeat="firstClass in firstClasses">{{firstClass.name}}</md-button>
    </md-content>

  </div>
  <!-- 二级产品列表 -->
  <div ng-show="second_class_flag" id="second-class" >
    <!-- <div id="ppp"  ng-click="showBySecondclass(secondClass.id)" ng-repeat="secondClass in secondClasses">{{secondClass.name}}</div> -->
    <md-content layout="column">

      <button id="ppp"  ng-click="showBySecondclass(secondClass.id)" ng-repeat="secondClass in secondClasses">{{secondClass.name}}</button>

    </md-content>


  </div>

<md-content layout="row" ng-show="allpros_flag" id="all-pros">
<div id="first-column" layout="column">
  <md-content>
    <div id="eeee" ng-repeat="pros in test" layout="row">
      <div id="ffff" ng-repeat="pro in pros" layout="column">
        <a href="watch_goods.html?id={{pro.id}}" id="first_href">
        <img ng-src="http://{{pro.image}}">
        <div>
          <strong>{{pro.type}}</strong>
        </div>
        </a>
      </div>
    </div>
  </md-content>
</div>
</md-content>
</div>



<div id="gray_box" ng-show="search_bar_flag" ng-click="hide_search_bar($event)">
  <div id="seearch-bar-back" style="" ng-click="prevent_event($event)" layout="row">
    <md-input-container class="md-block" id="search-bar" >
      <label>在此键入关键字</label>
      <input  ng-model="the_max" style="width:100%;">
    </md-input-container>
    <ng-md-icon id="search-icon" icon="search" size="30px" ng-click="show_pro()"></ng-md-icon>
  </div>

</div>
<div id="bottom-word" ng-click="show_back()">
    Copyright 2018-2020 All Rights Reserved     天津华宁电子有限公司
</div>
</body>
</html>
