<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="/build/vendor.css">
    <link rel="stylesheet" href="/build/application.css">

    <script type="text/javascript" src="./libs/wangeditor/release/wangEditor.min.js"></script>
    <script src="require.js" defer async="true" data-main="build/root"></script>
  </head>
  <body ng-controller="MainCtrl" id="main" ng-class="" ng-cloak>

    <div id="title">
      <div id="sys-title-logo" layout="row">
        <div id="logo">
          <img src="assets/huaning-logo.png">
        </div>
        <div id="sys-title"><strong>天津华宁电子有限公司产品展示系统</strong></div>

      </div>
    </div>

    <div id="login_area">
      <h3 class="md-display-1" >登录</h3>
      <md-input-container class="md-block" id="search-bar" >
        <label>用户名</label>
        <input  ng-model="username" style="width:100%;">
      </md-input-container>

      <md-input-container class="md-block" id="search-bar" >
        <label>密码</label>
        <input  ng-model="password" style="width:100%;">
      </md-input-container>

      <md-button ng-click="login()" class="md-raised" style="background-color:rgb(47, 242, 172);width:97%;border-radius:10px;font-size:20px">登录</md-button>

    </div>


    <div id="editor">
        <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
    </div>


    <!-- <div id="modules" layout="column">
      <a href="trans_sim.html">
        <div id="trans_sim" class="module blue">管理员系统</div>
      </a>
      <a href="require_sim.html">
        <div class="module red">用户系统</div>
      </a>
    </div> -->

  </body>
</html>
