<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/build/vendor.css">
  <link rel="stylesheet" href="/build/application.css">
  <script src="require.js" defer async="true" data-main="build/root"></script>
</head>

<body ng-controller="TransSimCtrl" id="trans_sim" ng-class="" ng-cloak>
  <div layout="column" class="zero">

    <div layout="{{ vm.direction }}" layout-md="row">

      <div id="sys-title-logo" layout="row">
        <div id="logo">
          <img src="assets/huaning-logo.png">
        </div>
      </div>
      <div id="sys-title"><strong>产品展示后台管理系统</strong></div>

      <div id="sys-date-bar">
        <div>
          <div id="date-show" class="md-display-1">{{nowtime|date:'yyyy年MM月dd日'}}</div>
        </div>
        <div>
          <div id="emmmmmm" class="md-display-1">爱国 敬业 诚信 友善</div>
        </div>
      </div>

      <!--钟表-->
      <div id="sys-time" class="diginum">
        <div class="frnum">{{nowtime|date:'HH:mm:ss'}}</div>
        <div class="bgnum">88:88:88</div>
      </div>
      <!--chart-->
      <div id="sys-monitor">
        <div class="sub-chart">
          <canvas class="chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-colors="colors">
          </canvas>
        </div>
        <div class="sub-chart">
          <canvas class="chart-line" chart-data="data2" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride2" chart-colors="colors2">
          </canvas>
        </div>
      </div>

    </div>
  </div>

  <div id="middle-part" layout="row">
    <div id="pro-table">
      <div style="background-color:pink;border-radius:5px;text-align:center;font-size:28px">产品信息</div>
      <md-content style="height:93%">
        <table class="watch-table">
          <thead>
            <tr>
              <th>序号</th>
              <th style="width:200px">机器型号</th>
              <th>主类别</th>
              <th>次类别</th>
              <th>用途</th>
              <th>参数</th>
              <th>查看图片</th>
              <th>更新</th>
              <th>删除</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pro in allpros">
              <td>{{pro.id}}</td>
              <td>{{pro.type}}</td>
              <td>{{pro.firstclass}}</td>
              <td>{{pro.secondclass}}</td>
              <td>{{pro.apply}}......</td>
              <td>{{pro.parameter}}</td>
              <td>
                <a href="http://{{pro.image}}">
                  <ng-md-icon icon="photo" style="fill: ..." size="30px"></ng-md-icon>
                </a>
              </td>
              <td>
                <ng-md-icon icon="edit" style="fill: ..." size="30px" ng-click=update_inventory(inventory.name,inventory.num,inventory.safenum,inventory.islandnum,inventory.zone,inventory.id)></ng-md-icon>
              </td>
              <td>
                <ng-md-icon icon="delete_sweep" style="fill: ..." size="30px" ng-click="del_pro(pro.id)"></ng-md-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </md-content>
    </div>



    <div id="add-tab">
      <hr />

      <div style="background-color:rgba(7, 8, 7, 0.21);border-radius:5px;text-align:center;font-size:28px;width:100%;">搜索产品</div>
      <div id="search-tab" layout="column">
        <div>
          <md-input-container class="md-block" flex-gt-sm >
            <label>在此键入关键字</label>
            <input ng-model="the_max" style="width:100%;">
            <md-button class="md-raised" ng-click="search_pro()">搜索</md-button>
          </md-input-container>
        </div>
      </div>


      <div style="background-color:rgba(7, 8, 7, 0.21);border-radius:5px;text-align:center;font-size:28px">添加产品</div>
      <md-input-container class="md-block" flex-gt-sm>
        <label>型号</label>
        <input ng-model="type">
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>主类别</label>
        <input ng-model="firstclass">
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>次类别</label>
        <input ng-model="secondclass">
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>用途</label>
        <textarea ng-model="apply"></textarea>
        <!-- <input ng-model="apply"> -->
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
      <label>参数</label>
      <textarea ng-model="parameter"></textarea>
      <!-- <input ng-model="parameter"> -->
    </md-input-container>


    <div id="file-box">
      <!-- <label>点击上传图片</label> -->
      <input id="file-btn" type="file" file-model="myFile" enctype="multipart/form-data" onchange="angular.element(this).scope().img_upload(this.files)">
      <div ng-repeat="item in thumb">
          <label>
              <img style="margin-left:50px;height:140px;width:250px" ng-src="{{item.imgSrc}}"/>
          </label>
          <ng-md-icon icon="delete_sweep" style="fill: ..." size="30px" ng-if="item.imgSrc" ng-click="img_del($index)"></ng-md-icon>
      </div>
    </div>
    <md-button class="md-raised md-primary" id="add-btn" ng-click="add()">添加</md-button>


    </div>
  </div>
  <div id="bottom-word">
      Copyright 2018-2020 All Rights Reserved     天津华宁电子有限公司
  </div>




    <!-- <div id="editor">
        <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
    </div> -->
    <!-- <form name="input" action="http://10.134.45.94:8080/ProductCenter/uploadImage" enctype="multipart/form-data" method="post">
  Username: <input type="file" name="file">
  <input type="submit" value="Submit">
  </form> -->
<!-- <script type="text/javascript" src="/wangEditor.min.js"></script> -->
</body>
</html>
