#require_sim{
	@media screen and (min-width: 600px) {
		#sys-title-logo {
			width: 100%;
			height: 10%;
			// padding-top: 5px;
		}
		#pro-part{
			width: 100%;
			height: 85%;
			#first-class{
				color:black;
				text-align:center;
				width:25%;
				height: 100%
			}
			#all-pros{
				width:75%;
				height:100%;

				#first-column{
					width:100%;
					text-align:center;
					#eeee{
						color:black;
						text-align:center;
						width:100%;
						margin-bottom: 100px;
						#ffff{
							width: 50%;
							strong{
								color:rgb(108, 11, 11);
								font-family:cursive;
							}
						}
						img{
							height: 300px;
							margin-top:10px;
							width:80%;
							text-align:center;
						}
					}
				}

			}
			span{
			text-align: center;
			}
		}
		#bottom-word{
			height:1%;
			position:absolute;
			color:black;
			font-size:10px;
			left:0;
			right:0;
			bottom:10px;
			text-align:center
		}


		#logo {
			display: inline-block;
			img {
				width: 400px;
			}
		}

		#sys-title {
			color: black;
			display: inline-block;
			vertical-align: top;
			font-size: 40px;
			margin-top: 20px;
			margin-left: 100px;
		}
}

@import 'require_table';

@media screen and (max-width: 600px) {
	#sys-title-logo {
		width: 100%;
		height: 10%;
		padding-top: 5px;
	}
	#pro-part{
		width: 100%;
		height: 85%;
		#first-class{
			color:black;
			text-align:center;
			width:auto;
			max-width: 37%;
			height: 100%
		}
		#second-class{
			height: 100%;
			md-content{
				height: 100%;
			}
			#ppp{
				border: none;
				text-align: center;
				margin-left: 5px;
				margin-top: 1px;
				height: 8%;
				min-height: 8%;
        font-size: 16px;
				font-family:sans-serif;
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
		#all-pros{
			width: auto;
			min-width:63%;
			height:100%;

			#first-column{
				width:100%;
				text-align:center;
				// height:3000%;
				#eeee{
					color:black;
					text-align:center;
					width:100%;
					margin-bottom: 30px;
					#ffff{
						width: 50%;
						margin-left: 10px;
						strong{
							color:rgb(108, 11, 11);
							font-family:cursive;
						}
					}
					img{
						width:75%;
					}
				}
			}

		}
		span{
		text-align: center;
		}
	}
	#bottom-word{
		height:1%;
		position:absolute;
		color:black;
		font-size:10px;
		left:0;
		right:0;
		bottom:10px;
		text-align:center
	}


	#logo {
		display: inline-block;
		img {
			width: 190px;
		}
	}

	#sys-title {
		width: 30%;
		color: black;
		display: inline-block;
		vertical-align: top;
		font-size: 24px;padding-top: 10px
	}

	#search-icon{
		fill:red;
		cursor:pointer;
		float: right;
		margin-top: 5%;
	}
	#gray_box{
		position: absolute;
		left: 0;
		top:0;
		width: 100%;
		height:100%;
		background-color: rgba(0, 0, 0, 0.8);
		#seearch-bar-back{
			position:relative;
			top:0%;
			// left:0;
			width:100%;
			height:10%;
		}
		#search-bar{
			height: 3%;
			position: relative;
			margin-top: 10%;
			// left:30%;
			// top:3%;
			width: 90%;
			label{
				font-size: 15px;
				color: white;
			}
			input{
				font-size: 15px;
				color: white;
			}
		}
	}
}





}
