#require_sim{
	@media screen and (min-width: 1200px) {
		#sys-title-logo {
			width: 100%;
			height: 10%;
			// padding-top: 5px;
		}
		#pro-part{
			width: 100%;
			height: 85%;
			#first-class{
				color:black;
				text-align:center;
				width:25%;
				height: 100%
			}
			#all-pros{
				width:75%;
				height:100%;

				#first-column{
					width:50%;
					text-align:center;
					#eeee{
						color:black;
						text-align:center;
						width:80%;
						margin-bottom: 550px;
						img{
							margin-top:10px;
							width:90%;
							text-align:center;
						}
					}
				}
				#second-column{
					 width:50%;
					 text-align:center;
					 #eeee{
						 color:black;
						 text-align:center;
						 width:80%;
						 margin-bottom:550px;
						 img{
							 width:90%;
							 margin-top:10px;
		 				}
					 }
				}
			}
			span{
			text-align: center;
			}
		}
		#bottom-word{
			height:1%;
			position:absolute;
			color:black;
			font-size:10px;
			left:0;
			right:0;
			bottom:10px;
			text-align:center
		}


		#logo {
			display: inline-block;
			img {
				width: 400px;
			}
		}

		#sys-title {
			color: black;
			display: inline-block;
			vertical-align: top;
			font-size: 40px;
			margin-top: 20px;
			margin-left: 100px;
		}
}

@import 'require_table';

@media screen and (max-width: 1200px) {
	#sys-title-logo {
		width: 100%;
		height: 10%;
		// padding-top: 5px;
	}
	#pro-part{
		width: 100%;
		height: 85%;
		#first-class{
			color:black;
			text-align:center;
			width:25%;
			height: 100%
		}
		#all-pros{
			width:75%;
			height:100%;

			#first-column{
				width:50%;
				text-align:center;
				#eeee{
					color:black;
					text-align:center;
					width:80%;
					margin-bottom: 150px;
					img{
						margin-top:10px;
						width:90%;
						text-align:center;
					}
				}
			}
			#second-column{
				 width:50%;
				 text-align:center;
				 #eeee{
					 color:black;
					 text-align:center;
					 width:80%;
					 margin-bottom:150px;
					 img{
						 width:90%;
						 margin-top:10px;
	 				}
				 }
			}
		}
		span{
		text-align: center;
		}
	}
	#bottom-word{
		height:1%;
		position:absolute;
		color:black;
		font-size:10px;
		left:0;
		right:0;
		bottom:10px;
		text-align:center
	}


	#logo {
		display: inline-block;
		img {
			width: 200px;
		}
	}

	#sys-title {
		color: black;
		display: inline-block;
		vertical-align: top;
		font-size: 36px;
	}
}





}
