@font-face {
	font-family: 'sa-digital-number';
	src: url("../assets/sa-digital-number.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

#trans_sim{
	padding-left: 20px;
	padding-right: 20px;
	background-color: #05333E;
	@import 'watch_table';

@import 'mc_map.scss';
@media screen and (max-width: 1850px){
	.zero{
		height: 7%;
	}
	#sys-title-logo {
		width: 15%;
		padding-top: 0px;
	}

	#logo {
		display: inline-block;
		img {
			width: 100%;
		}
	}

	#sys-title {
		color: white;
		display: inline-block;
		vertical-align: top;
		font-size: 32px;
		margin-top: 0px;
	}

	#sys-time {
		display: block;
		position: relative;
		margin-left: 10px;
		margin-top: 0px;
	}

	.diginum {
		font-family: 'sa-digital-number';
		font-size: 28px;
		position: relative;

		.frnum {
			color: darken(red, 10%);
			background-color: rgba(255, 0, 0, 0.0);
			position: relative;
			z-index: 1;
		}

		.bgnum {
			position: absolute;
			top: 0;
			color: rgba(107, 107, 107, 0.45);
			z-index: 0;
		}
	}

	#sys-monitor {
		display: block;
		position: relative;

		.sub-chart {
			position: relative;
			margin-left: 10px;
			display: inline-block;
			height: 35px;
			width: 200px;
			md-input-container{
				margin-top:0%;
			}
			label{
				color: gray;
				font-size: 20px;
			}
			input{
				color: white;
				font-size: 20px;
			}
		}
	}
	#login{
		margin-top: 0%;
		margin-left: 2%;
		color: white;
		font-size: 20px;
		font-family:monospace;
		font-weight:bold;
		font-style:italic;
	}

	#middle-part {
		width: 100%;
		height: 90%;
		background-color: #B0BEC5;
		#pro-class{
			width: 13%;
			#middle-part-btn{
				margin-top: 2px;
				margin-left: 5px;
				text-align: center;
				font-size: 20px;
				border-radius: 5px;
				background-color: rgb(38, 193, 127);
				width: 100%;
			}
		}
		md-content{
			height:97%
		}
		#pro-table{
			height: 97%;
			width: 65%;
			margin-left: 10px;
			margin-top: 2px;
			#nav-bar{
				background-color:pink;
				border-radius:5px;
				text-align:center;
				font-size:20px
			}
			table{
				width: 100%;
			}
		}
		#geshi{
			width: 20%;
			height: 70%;
		}
		#add-tab{
			width: 90%;
			height: 51%;
			margin-left: 1%;
			margin-top: 2px;
			md-input-container{
				height: 10%;
			}
			#nav-bar{
				background-color:rgba(7, 8, 7, 0.21);
				border-radius:5px;
				text-align:center;
				font-size:20px
			}
			#file-box{
				// display: inline-block;
				color: gray;
				font-size: 15px;
				height:60%;
				#file-btn{
					cursor: pointer;
					width: 100%;
					color: yellow;
					background-color: rgb(144, 22, 22);
				}
				div{
					height: 80%;
					width: 100%;
					img{
						margin-left:0%;
						height:100px;
						width: 80%;
					}
				}
			}
		}
		#add-btn{
			position: absolute;
			font-size: 20px;

			bottom: 3%;
			width: 17%;
			height: 4%;
		}
		#apply{
			width: 100%;
			height: 40px;
		}
		#parameter{
			width: 100%;
			height: 120px;
		}

	}
	#bottom-word{
		height:1%;
		position:relative;
		color:white;
		font-size:10px;
		left:0;
		right:0;
		bottom:0px;
		text-align:center
	}
	#second-class{
		color: black;
		background-color: red;
		position:absolute;
left:14.7%;
top:11.5%;
// z-index:-1;
	}
}
@media screen and (min-width: 1850px){
	#sys-title-logo {
		width: 18%;
		padding-top: 5px;
	}

	#logo {
		display: inline-block;
		img {
			width: 100%;
		}
	}

	#sys-title {
		color: white;
		display: inline-block;
		vertical-align: top;
		font-size: 50px;
	}
	#date-show {
		color: white;
		font-size: 24px;
		text-align: center;
	}

	#emmmmmm {
		padding: 0 24px;
		font-size: 28px;
		font-weight: 600;
		color: rgb(234, 238, 187);
		background: linear-gradient(to bottom, #f2f2f2 0%,#e86c57 43%,#630021 100%);
	}

	#sys-time {
		display: block;
		position: relative;
		margin-left: 10px;
		margin-top: 12px;
	}

	.diginum {
		font-family: 'sa-digital-number';
		font-size: 40px;
		position: relative;

		.frnum {
			color: darken(red, 10%);
			background-color: rgba(255, 0, 0, 0.0);
			position: relative;
			z-index: 1;
		}

		.bgnum {
			position: absolute;
			top: 0;
			color: rgba(107, 107, 107, 0.45);
			z-index: 0;
		}
	}

	#sys-monitor {
		display: block;
		position: relative;

		.sub-chart {
			position: relative;
			margin-left: 10px;
			display: inline-block;
			height: 72px;
			width: 270px;
			md-input-container{
				margin-top:13%;
			}
			label{
				color: gray;
				font-size: 20px;
			}
			input{
				color: white;
				font-size: 20px;
			}
		}
	}

	#login{
		margin-top: 1.2%;
		margin-left: 2%;
		color: white;
		font-size: 20px;
		font-family:monospace;
		font-weight:bold;
		font-style:italic;
	}

	#middle-part {
		width: 100%;
		margin-top: 5px;
		height: 89%;
		background-color: #B0BEC5;
		md-content{
			height:94%;
		}
		#pro-class{
			width: 13%;
			#middle-part-btn{
				margin-top: 10px;
				margin-left: 0px;
				text-align: center;
				font-size: 28px;
				border-radius: 5px;
				background-color: rgb(36, 218, 242);
				width: 100%;
			}
			md-content{
				background-color:rgba(0, 0, 0, 0.2)
			}
			#firstclass_button{
				border: none;
				margin-top: 2px;
				width: 100%;
				height: 60px;
				background-color: white;
				font-size: 20px;
				font-family: cursive;
			}
		}
		#pro-table{
			width: 65%;
			margin-left: 10px;
			margin-top: 10px;
			#nav-bar{
				background-color:pink;
				border-radius:5px;
				text-align:center;
				font-size:28px
			}
			table{
				width: 100%;
			}
		}
		#geshi{
			width: 21%;
			margin-left: 5px;
			#nav-bar{
				background-color:rgba(7, 8, 7, 0.21);
				border-radius:5px;
				text-align:center;
				font-size:28px;
				margin-top: 10px;

			}

		}
		#add-tab{
			width: 100%;
			margin-left: 1%;
			margin-top: 0px;
			background-color:rgba(0, 0, 0, 0);

			#add-btn{
				position: relative;
				margin-top: 5px;
				width: 95%;
				height: 4%;
				font-size: 28px;
			}
		}
		#apply{
			position: relative;
			margin-top: 15px;
			width: 100%;
			background-color: white;
		}
		#parameter{
			margin-top: 10px;
			width: 100%;
			background-color: white;

		}
	}
	#file-box{
		cursor: pointer;
		// display: inline-block;
		color: gray;
		font-size: 18px;
		height: 220px;
		div{
			height: 90%;
			img{
				margin-left:0%;
				height:200px;
				width: 80%;
			}
		}

	}
	#file-btn{
		cursor: pointer;
		width: 95%;
		color: yellow;
		background-color: rgb(144, 22, 22);
	}
	#bottom-word{
		height:1%;
		position:relative;
		color:white;
		font-size:15px;
		left:0;
		right:0;
		bottom:0px;
		text-align:center
	}
	#second-class{
		color: white;
		font-size: 28px;
		font-family: cursive;
		height: 86%;
		width: auto;
		min-width: 20%;
		max-width: 30%;
		background-color: rgb(201, 22, 35);
		position:absolute;
left:13%;
top:10%;
border: none;
border-color: white;
// z-index:-1;
button{
	width: 100%;
	height: 60px;
	border: none;
	background-color: rgb(201, 22, 35);
	color: white;
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 20px;
	font-family: cursive;
}
	}
	/* 批量弹窗 (background) */
.modal {
    // display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    padding-top: 13%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* 弹窗内容 */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* 添加动画 */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* 关闭按钮 */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
/* 提示弹窗 (background) */
.warn_modal {
	position: fixed;
	z-index: 1;
	padding-top: 13%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/* 弹窗内容 */
.warn_modal-content {
	border-radius: 20px;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 20%;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* 添加动画 */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}
}
}
