#watch_goods{
	padding-left: 15px;
	padding-right: 15px;

@import 'watch_table';

#sys-title-logo {
	width: 100%;
	height: 10%;
	padding-top: 5px;
}



#logo {
	display: inline-block;
	img {
		width: 200px;
	}
}

#sys-title {
	color: black;
	display: inline-block;
	vertical-align: bottom;
	font-size: 28px;
}
.attr-value {

		color: rgb(16, 145, 68);
	}
md-content{
	height:50%
}

}
