#watch_goods{
	// padding-left: 20px;
	// padding-right: 20px;

	@media screen and (min-width: 1200px){
		#sys-title {
			margin-left: 100px;
			color: black;
			display: inline-block;
			vertical-align: bottom;
			font-size: 40px;
		}
		#pro-img{
			width: 600px;
			height: 450px;
		}
		.type{color: rgb(182, 30, 30)};
		.class{color: rgb(142, 148, 27)};
		.attr-value {
			color: gray;
			.apply{color: rgb(16, 145, 68);};
			.parameter{color: rgb(11, 79, 94)}

			}

		#bottom-word{
			height:1%;
			position:absolute;
			color:black;
			font-size:10px;
			left:0;
			right:0;
			bottom:10px;
			text-align:center
		}
		md-content{
			padding-left: 50px;
			padding-right: 50px;
		}

	}

@import 'watch_table';
@media screen and(max-width: 1200px){


	#pro-img{
		margin-top:10px;
		width:200px;
		height:150px;
	}
	#sys-title {
		width: 35%;
		color: black;
		display: inline-block;
		vertical-align: top;
		font-size: 28px;
		padding-top: 10px;
	}
	.type{
		font-family: cursive;
		color: rgb(182, 30, 30)};
	.class{
		font-family: cursive;
		width: 100%;
		color: rgb(142, 148, 27)};
	.attr-value {
		color: gray;
		.apply{color: rgb(16, 145, 68);};
		.parameter{color: rgb(11, 79, 94)}

		}
	md-content{
		height:56.5%;
		padding-left: 20px;
		padding-right: 20px;
	}
	#bottom-word{
		height:1%;
		position:absolute;
		color:black;
		font-size:7px;
		left:0;
		right:0;
		bottom:7px;
		text-align:center
	}

}

}
